@font-face {
    font-family: 'open_sansregular';
    src: url("fonts/opensans_regular/OpenSans-Regular-webfont.eot");
    src: url("fonts/opensans_regular/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans_regular/OpenSans-Regular-webfont.woff") format("woff"), url("fonts/opensans_regular/OpenSans-Regular-webfont.ttf") format("truetype"), url("fonts/opensans_regular/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url("fonts/opensans_semibold/OpenSans-Semibold-webfont.eot");
    src: url("fonts/opensans_semibold/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans_semibold/OpenSans-Semibold-webfont.woff") format("woff"), url("fonts/opensans_semibold/OpenSans-Semibold-webfont.ttf") format("truetype"), url("fonts/opensans_semibold/OpenSans-Semibold-webfont.svg#open_sanssemibold") format("svg");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "open_sansregular", Verdana, Arial, sans-serif;
    font-size: 1rem;
    background-color: #666;
    color: #aaa;
    margin: 0;
    padding: 0;
}

a {
    color: #ddd;
    text-decoration: none;
}

a.offsite::before {
    content: "»";
    color: #000;
}

a:hover {
    color: #fff;
}

a.offsite:hover::before {
    content: "»";
    color: #00c8c8;
}

header {
    background-color: #666;
    width: 100%;
    margin-bottom: 2em;
}

.head {
    margin: 1.5rem auto auto auto;
    display: block;
    width: 63rem;
}

.head > img, .head > a img {
    position: relative;
    float: left;
    top: -0.5rem;
    margin-right: 1rem;
}

.head > div {
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    border-bottom: 2px solid #aaa;
    padding: 0.5rem;
}

.head div img, .head div a {
    vertical-align: middle;
    float: right;
    padding-left: 0.2rem;
}

.head div span {
    display: inline-block;
    text-align: left;
    color: #fff;
    font-size: smaller;
}

main {
    display: block;
    margin: 0 auto;
    width: 63rem;
}

article {
    width: 50rem;
    margin: 0 auto;
}

nav {
    clear: both;;
    width: 63rem;
    margin: 0 auto;
}

nav ul li {
    display: inline;
    text-align: center;
    margin-right: -4px;
}

nav ul li a {
    display: inline-block;
    padding: .75rem 0;
    margin: 0;
    text-decoration: none;
    color: #ccc;
}

.about a  {
    width: 6rem;
}

.start a {
    width:10rem;
}

.views a {
    width:8rem;
}

.forms a {
    width:6rem;
}

.snippets a {
    width:7rem;
}

.transformations a {
    width:10rem;
}

.filters a {
    width:6rem;
}

.about:hover ~ hr, hr.about {
    margin-left: 0;
    width:6rem;
}

.start:hover ~ hr, hr.start {
    margin-left: 6rem;
    width:10rem;
}

.views:hover ~ hr, hr.views {
    margin-left: 16rem;
    width:8rem;
}

.forms:hover ~ hr, hr.forms {
    margin-left: 24rem;
    width:6rem;
}

.snippets:hover ~ hr, hr.snippets {
    margin-left: 30rem;
    width:7rem;
}

.transformations:hover ~ hr, hr.transformations {
    margin-left: 37rem;
    width:10rem;
}

.filters:hover ~ hr, hr.filters {
    margin-left: 47rem;
    width:6rem;
}

nav ul hr {
    height: .25rem;
    width: 5rem;
    margin: 0;
    background: #00c8c8;
    border: none;
    transition: .3s ease-in-out;
}

footer {
    margin: 0 auto 1rem auto;
    padding-top: 0.5rem;
    display: block;
    width: 63rem;
    border-top: 1px solid #aaa;
    font-size: x-small;
    color: #aaa;
}

blockquote {
    font-size: x-large;
    line-height: 90%;
    font-family: 'open_sanssemibold', Verdana, Arial, sans-serif;
    width: 38rem;
    margin: 3rem auto;
    padding: 0;
}

blockquote span {
    color: #ccc;
}

blockquote br + span {
    padding-left: 3rem;
}

blockquote::before {
    content: "«";
    color: #00c8c8;
    vertical-align: sub;
    padding: 0;
    margin: -0.4rem;
}

blockquote::after {
    content: "»";
    color: #00c8c8;
    vertical-align: sub;
    margin: -0.4rem;
}

h2 {
    color: #bbb;
    font-size: 1rem;
    text-align: center;
}

article.start h2 {
    text-align:left;
}

article.start p {
    padding-left:0.5rem;
}

.note {
    background-color: #735947;
    padding:0.5rem;
}

h1 {
    color: #bbb;
    font-size: 2rem;

    text-decoration: underline;
    text-decoration-color: #00c8c8;
}

.console, code {
    display:block;
    white-space: pre-wrap;
    margin: 0.5rem 0 1rem;
    padding: 0.5rem;
    background-color: #282b2e;
}

.features {
    margin: 0;
    padding: 0;
}

.features > div {
    margin: 0;
    padding: .5rem;
    width: 50%;
    display: table-cell;
    vertical-align: top;
}

.usage h2 {
    text-align: left;
    margin: 0;
    padding: 0;
}

